body {
    background: cadetblue;
}

#header {
    background: coral;
}

#jquery {
    position: fixed;
    top: 110px;
    left: 5em;
    width: 300px;
    
}

#npm {
    position: fixed;
    top: 110px;
    left: 30em;
    width: 300px;
    
}

#js { 
    
    position: fixed;
    top: 110px;
    left: 60em;
    width: 300px;
    
}

#keatube { 
    
    position: fixed;
    top: 360px;
    left: 5em;
    width: 300px;
    
}

#next {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
#next:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
#next:active {
	position:relative;
	top:1px;
}

img {
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#jqueryPic {
	width: 10em;
	height: 10em;
	display: block;
	margin-left: 3em;
	margin-right: 3em;
}

#midsite {
	background-color: black;
	width: 12em;
}

#npminstall {
	color: blanchedalmond;
	
}

p {
	font-size: larger;
	color: black;
	font-family: fantasy;
}

#jq1 {
	background-color: burlywood;
	width: 30em;
}

		
